<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>This Heartstone API Ionic App is developed by little bunny
      from Udemy Course: Ionic 4 Crash Course with Heartstone API & Angular. In January 2019</p>
    <p>Powered by: Stook Co.,Ltd.
      <span class="link">Website: <a href="http://stookagency.com">www.stookagency.com</a></span></p>
      <!--from Udemy Course: <a href="https://www.udemy.com/ionic-4-crash-course-with-heartstone-api-angular/">Ionic 4 Crash Course with Heartstone API & Angular</a>. In January 2019</p>-->
  </div>
</ion-content>
