<ion-header>
    <ion-toolbar>
        <ion-title>
            Card Decks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            <ion-label>Classes</ion-label>
        </ion-list-header>
        <!--<ion-item *ngFor="let cardDeck of cardDecks">-->
        <ion-item *ngFor="let cardDeck of cardDecks.classes">
            <ion-avatar slot="start">
                <img [src]="'../assets/image/' + cardDeck + '.png'">
            </ion-avatar>
            <ion-label>
                <h2>{{cardDeck}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
