// Layout ..............................
.card-container {
  margin-top: 10px;
}
.ion-card {
  width: 96%;
  margin: 0 auto 18px;
}

.card-title-header {
  font-weight: 500;
  margin-bottom: 9px;
  font-size: 24px;
}

.card-header-block {
  padding-bottom: 0;
}

.card-content-block {
  padding-top: 8px;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.paragraph {
  padding-bottom: 13px;
}